{% extends "base.html" %} 


{% block title %}Home Page{% endblock %}

{% block content %}  
{% with messages = get_flashed_messages() %} 
        {% if messages %}  
            {% for msg in messages %} 
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Create An Account!</h1>

<form action="#" method="post">
    <p>New Username:</p>
    <p><input type="text" name="username" /></p>

    <p>New Password:</p>
    <p><input type="text" name="password" /></p>
    <p><input type="submit" value="submit" /></p>
</form>

{% endblock %}
