{% extends "base.html" %} 


{% block title %}Home Page{% endblock %}

{% block content %}  
{% with messages = get_flashed_messages() %} 
        {% if messages %}  
            {% for msg in messages %} 
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Welcome To My Pandas Statistics Generator!</h1>
<p>Thank you for stopping by. I hope you enjoy!</p>

<ul>
    <li><a href="/login">Login Page!</a> </li>
    <li><a href="/create">Create Account!</a> </li>
    <li><a href="/stats">Statistics Page!</a> </li>
    <li><a href="/statsinprogress">Current Statistics!</a> </li>
    <li><a href="/view">View Users! (Must be admin --> username & password is admin)</a> </li>
    <li><a href="/logout">Logout!</a> </li>
</ul>

<p>If you would like to see the code behind this project, please click <a href="https://github.com/lgibbons12/Statistics-Web-Application">here</a></p>
{% endblock %}
